{% extends "base.html" %}

{% block content %}
{% load static %}

<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-2xl font-bold text-gray-900">Employer Table</h1>
            {% if request.user.is_organisor %}
                <a href="{% url 'leads:lead-create' %}" class="text-blue-500 hover:text-blue-700">Add New Task</a>
            {% endif %}
        </div>
        <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
            <div class="w-full overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                            <th class="px-6 py-3">Data</th>
                            <th class="px-6 py-3">Vremya</th>
                            <th class="px-6 py-3">Status Obnarujili</th>
                            <th class="px-6 py-3">Sex</th>
                            <th class="px-6 py-3">Oboruduvania</th>
                            <th class="px-6 py-3">Uchastok</th>
                            <th class="px-6 py-3">Change</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        {% for lead in leads %}

                           <tr class="text-gray-700">
                           <td class="px-6 py-4 whitespace-nowrap text-sm">
                          {{ lead.data|date:"Y-m-d" }}</td>
                           <td class="px-6 py-4 whitespace-nowrap text-sm">
            {{ lead.vremya|time:"H:i" }}
        </td>

                            <td class="px-6 py-4 whitespace-nowrap text-sm {% if lead.status_obnardjil == 'admin' %}bg-red-500{% elif lead.status_obnardjil == 'master' %}bg-green-500{% elif lead.status_obnardjil == 'analyst' %}bg-gray-500{% else %}bg-white{% endif %}">
                                {{ lead.status_obnardjil }}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm">{{ lead.sex }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm">{{ lead.oboruduvania }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm">{{ lead.uchastok }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm">
                                <a href="{% url 'leads:update' lead.pk %}" class="text-indigo-600 hover:text-indigo-900">Change</a>
                            </td>
                        </tr>
                        {% endfor %}
{#                    <tbody class="bg-white">#}
{#                        {% for lead in leads %}#}
{#                        <tr class="{% if lead.status_obnardjil == 'admin' %}bg-red-500{% elif lead.status_obnardjil == 'master' %}bg-green-500{% elif lead.status_obnardjil == 'analyst' %}bg-gray-500{% else %}bg-white{% endif %} text-gray-700">#}
{##}
{##}
{#                            <td class="px-6 py-4 whitespace-nowrap text-sm">{{ lead.username }}</td>#}
{#                            <td class="px-6 py-4 whitespace-nowrap text-sm">{{ lead.id }}</td>#}
{#                            <td class="px-6 py-4 whitespace-nowrap text-sm">{{ lead.data }}</td>#}
{#                            <td class="px-6 py-4 whitespace-nowrap text-sm">{{ lead.vremya }}</td>#}
{#                            <td class="px-6 py-4 whitespace-nowrap text-sm">{{ lead.status_obnardjil }}</td>#}
{#                            <td class="px-6 py-4 whitespace-nowrap text-sm">{{ lead.sex }}</td>#}
{#                            <td class="px-6 py-4 whitespace-nowrap text-sm">{{ lead.oboruduvania }}</td>#}
{#                            <td class="px-6 py-4 whitespace-nowrap text-sm">{{ lead.uchastok }}</td>#}
{#                            <td class="px-6 py-4 whitespace-nowrap text-sm">#}
{#                                <a href="{% url 'leads:update' lead.pk %}" class="text-indigo-600 hover:text-indigo-900">Change</a>#}
{#                            </td>#}
{#                        </tr>#}
{#                        {% endfor %}#}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
