{% extends "base.html" %}
{% load crispy_forms_tags %}  <!-- Changed from tailwind_filters to crispy_forms_tags -->

{% block content %}
<section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <!-- Assuming 'agent' is provided in the context and 'form' contains the agent's data -->
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">Submit</button>
        </form>
        <!-- Delete button can remain if you want to provide an option to delete the agent -->
        <div class="mt-5 py-5 border-t border-gray-200">
            <a href="{% url 'agents:agent-delete' agent.pk %}" class="text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">Delete</a>
        </div>
    </div>
</section>
{% endblock content %}
